:root {
  --page-1-color: steelblue;
  --page-2-color: tan;
  --page-3-color: teal;
  --page-4-color: slateblue;
  --animation-speed: 1s;
  --font-color: #f4f4f4;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  color: var(--font-color);
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#page-1 { background-color: var(--page-1-color); }
#page-2 { background-color: var(--page-2-color); }
#page-3 { background-color: var(--page-3-color); }
#page-4 { background-color: var(--page-4-color); }

.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 4rem;
}

.page h1 {
  font-size: 4rem;
  line-height: 1.2;
  margin: 1rem;
}

.page p {
  font-size: 1.3rem;
  text-align: left;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #f4f4f4;
  color: #333;
  text-decoration: none;
  border: none;
  margin-top: 1rem;
  font-size: 1.1rem;
  transition: all 0.3s ease-in-out;
}

.btn:hover,
.btn-dark {
  background: #333;
  color: var(--font-color);
}

.btn-dark:hover {
  background: var(--font-color);
  color: #333;
}

/* Page Animation */
#page-1 h1 {
  transform: translate(-100vw, -100vh);
  animation: heading var(--animation-speed) forwards linear;
}

#page-1 p {
  transform: translate(-100vw, -100vh);
    animation: heading var(--animation-speed) forwards linear var(--animation-speed);
}

@keyframes heading {
  20% {
    transform: translate(0, 0);
  }
  40% {
    transform: translate(-50vw, -50vh);
  }
  60% {
    transform: translate(0, 0);
  }
  80% {
    transform: translate(-25vw, -25vw);
  }
  100% {
    transform: translate(0, 0);
  }

}